select.custom-dropdown {
    -webkit-appearance: none;  /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
    -moz-appearance: none;  /*REMOVES DEFAULT FIREFOX STYLE*/
    border: 0 !important;  /*REMOVES BORDER*/
}
select.custom-dropdown {
    -webkit-appearance: none;  /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
    -moz-appearance: none;  /*REMOVES DEFAULT FIREFOX STYLE*/
    border: 0 !important;  /*REMOVES BORDER*/

    background-color: #8fbc8f;
    color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    width: 35%;
    cursor: pointer;
}
select.custom-dropdown {
    -webkit-appearance: none;  /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
    -moz-appearance: none;  /*REMOVES DEFAULT FIREFOX STYLE*/
    border: 0 !important;  /*REMOVES BORDER*/

    color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    width: 35%;
    cursor: pointer;

    background: #8fbc8f url(../images/downArrow.png) no-repeat right center;
    background-size: 40px 37px; /*TO ACCOUNT FOR @2X IMAGE FOR RETINA */
}
.counter{
    font-size: large;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
}
